.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    background-color: #FAF9F6;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link {
    font-family: 'Didact Gothic', sans-serif;
}

.nav-link:hover {
    color: #FF5733;
}