@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Oswald:wght@600&family=Raleway&display=swap');

.App {
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'Oswald', sans-serif;
}